*{
    font-family: 'Work-Sans';
}
//Landing
.bg-web{
    position: relative;
    .bg{
        width: 100%;
    }
    h1{
        position: absolute;
        color: #33334f;
        font-weight: 600;
        font-size: 5vw;
    }
}
@media screen and (min-width: 769px) {
    .bg-web {
        h1{
            left: 170px;
            top: 230px;
        }
    }
}
@media screen and (max-width: 768px) {
    .bg-web {
        h1{
            left: 85px;
            top: 125px;
        }
    }
}
@media screen and (max-width: 425px) {
    .bg-web {
        h1{
            left: 55px;
            top: 85px;
        }
    }
}

.kategori-1{
    position: relative;
    background-image:url(../img/reasons.png);
    
    h2{
        font-weight: bold;
        color: #000F48;
    }
}
@media screen and (min-width: 426px) {
    .kategori-1 {
        h2{
            font-size: 35px;
        }
    }
}
@media screen and (max-width: 425px) {
    .kategori-1 {
        h2{
            font-size: 20px;
            margin-bottom: -20px;
        }
        .no{
            display: none !important;
        }
    }
}

.about{
    .bg-2{
        position: absolute;
    }
    h3{
        position: absolute;
        color: white;
        font-weight: bolder;
        font-size: 3vw;
    }
    p{
        position: absolute;
        color: white;
        font-size: 1.5vw;
    }
    .btn-about{
        position: absolute;
        background-color: #FFC806;
        .btn{
            color: #2947A9;
            font-size: 1.5vw;
            font-weight: 550; 
        }
    }
}
@media screen and (max-width: 1440px){
    .about{
        h3{
            left: 780px;
            top: 1210px;
        }
        p{
            left: 780px;
            right: 240px;
            top: 1290px;
        }
        .btn-about{
            left: 780px;
            top: 1600px;
        }
    }
}
@media screen and (max-width: 1399px){
    .about{
        h3{
            left: 830px;
            top: 1170px;
        }
        p{
            left: 830px;
            right: 150px;
            top: 1250px;
        }
        .btn-about{
            left: 830px;
            top: 1580px;
        }
    }
}
@media screen and (max-width: 1326px){
    .about{
        h3{
            left: 815px;
            top: 1160px;
        }
        p{
            left: 815px;
            right: 100px;
            top: 1235px;
        }
        .btn-about{
            left: 815px;
            top: 1540px;
        }
    }
}
@media screen and (max-width: 1024px){
    .about{
        .bg{
            padding-right: 40px;
        }
        .bg-2{
            right: 25px;
        }
        h3{
            font-size: 3.7vw;
            left: 530px;
            top: 1025px;
        }
        p{
            font-size: 1.9vw;
            left: 530px;
            right: 100px;
            top: 1105px;
        }
        .btn-about{
            left: 530px;
            top: 1390px;
        }
    }
}
@media screen and (max-width: 768px){
    .about{
        .bg-2{
            height: 400px;
        }
        h3{
            font-size: 3.8vw;
            left: 410px;
            top: 910px;
        }
        p{
            font-size: 2vw;
            left: 410px;
            right: 80px;
            top: 960px;
        }
        .btn-about{
            left: 410px;
            top: 1199px;
        }
    }
}
@media screen and (max-width: 425px){
    .about{
        .bg{
            height: 280px;
            width: 400px;
        }
        .bg-2{
            margin-right: -25px;
            width: 360px;
            height: 285px;
            top: 720px;
        }
        h3{
            font-size: 5.9vw;
            left: 90px;
            top: 779px;
        }
        p{
            font-size: 3.2vw;
            left: 90px;
            right: 30px;
            top: 815px;
        }
        .btn-about{
            .btn{
                font-size: 3vw;
            }
            left: 90px;
            top: 975px;
        }
    }
}
@media screen and (max-width: 375px){
    .about{
        .bg{
            height: 280px;
            width: 400px;
        }
        .bg-2{
            margin-right: -25px;
            width: 320px;
            height: 265px;
            top: 720px;
        }
        h3{
            font-size: 5.9vw;
            left: 90px;
            top: 779px;
        }
        p{
            font-size: 3.2vw;
            left: 90px;
            right: 30px;
            top: 815px;
        }
        .btn-about{
            .btn{
                font-size: 3vw;
            }
            left: 90px;
            top: 964px;
        }
    }
}
@media screen and (max-width: 320px){
    .about{
        .bg{
            height: 280px;
            width: 400px;
        }
        .bg-2{
            margin-right: -25px;
            width: 320px;
            height: 265px;
            top: 720px;
        }
        h3{
            font-size: 6.2vw;
            left: 32px;
            top: 779px;
        }
        p{
            font-size: 3.9vw;
            left: 32px;
            right: 18px;
            top: 811px;
        }
        .btn-about{
            .btn{
                font-size: 3vw;
            }
            left: 32px;
            top: 964px;
        }
    }
}


.mitra{
    position: relative;
    background-image:url(../img/services.png);
    h2{
        font-weight:bold;
        color: #000F48;
    }
    .card-mitra{
        align-items: center; 
    }
}
@media screen and (min-width: 426px) {
    .mitra {
        h2{
            font-size: 35px;
        }
        .card-mitra{
            height:16rem;
        }
    }
}
@media screen and (max-width: 425px) {
    .mitra {
        h2{
            font-size: 20px;
            margin-bottom: -20px;
        }
        .card-mitra{
            height:12rem;
        }
        .no{
            display: none !important;
        }
    }
}

.produk-area{
    .jud{
        font-weight:bold;
        color: #000F48;
    }
    .latest_product_inner{
        .card-body{
            background-color: #FFC806;
            h4{
                font-weight: bold;
                color: #000F48
                
            }
            p{
                font-size: 18px;
            }
        }
    }
}

//Blank-cart
.blank{
    h3{
        font-weight: bolder;
        font-family:'Poppins';
        font-size:3vw
    }
    p{
        color: #000F48;
    }
    .btn-blank{
        background-color: #000F48;
        .btn{
            color: #FFC806;
        }
    }
}
@media screen and (max-width: 425px) {
    .blank {
        h3{
            font-size: 5vw;
        }
    }
}
@media screen and (max-width: 320px) {
    .blank {
        p{
            font-size: 4vw;
        }
        .btn-blank{
            .btn{
                font-size: 4vw;
            }
        }
    }
}

//All-produk
.all{
    .search-bar{
        min-width: 360px;
        .search-form{
            width: 100%;
            input{
                border: 0;
                font-size: 14px;
                color: #012970;
                border: 1px solid rgba(1, 41, 112, 0.2);
                padding: 7px 38px 7px 8px;
                border-radius: 3px;
                transition: 0.3s;
                width: 100%;
            }
            button{
                border: 0;
                padding: 0;
                margin-left: -30px;
                background: none;
            }
            i{
                color: #000F48;
            }
        }
    }
    h2{
        color: #000F48;
        font-weight: bold;
    }
    .pro{
        .card-body{
            background-color: #FFC806;
            h6{
                color: #000F48;
                font-weight: bold;
            }
        }
    }
    .widgets_inner{
        ul{
            li{
                font-weight:bold;
                cursor:pointer;
            }
        }
    }
}
@media screen and (max-width: 375px) {
    .all {
        .search-bar{
            .search-form{
                input{
                    width: 60vh;
                }
            }
        }
    }
}