*{
    font-family: 'Work-Sans';
}

.bg-web{
    position: relative;
    .bg{
        width: 100%;
    }
    h1{
        position: absolute;
        color: #33334f;
        font-weight: 600;
        font-size: 5vw;
    }
}
@media screen and (min-width: 769px) {
    .bg-web {
        h1{
            left: 170px;
            top: 230px;
        }
    }
}
@media screen and (max-width: 768px) {
    .bg-web {
        h1{
            left: 85px;
            top: 125px;
        }
    }
}
@media screen and (max-width: 425px) {
    .bg-web {
        h1{
            left: 55px;
            top: 85px;
        }
    }
}

.kategori-1{
    position: relative;
    background-image:url(../img/reasons.png);
    
    h2{
        font-weight: bold;
        color: #000F48;
    }
}
@media screen and (min-width: 426px) {
    .kategori-1 {
        h2{
            font-size: 35px;
        }
    }
}
@media screen and (max-width: 425px) {
    .kategori-1 {
        h2{
            font-size: 20px;
            margin-bottom: -20px;
        }
        .no{
            display: none !important;
        }
    }
}

.about{
    
    
        
            .bg{
                width: 100%;
            }
            .bg-2{
                position: absolute;
            }
        
    
}

.mitra{
    position: relative;
    background-image:url(../img/services.png);
    h2{
        font-weight:bold;
        color: #000F48;
    }
    .card-mitra{
        align-items: center; 
    }
}
@media screen and (min-width: 426px) {
    .mitra {
        h2{
            font-size: 35px;
        }
        .card-mitra{
            height:16rem;
        }
    }
}
@media screen and (max-width: 425px) {
    .mitra {
        h2{
            font-size: 20px;
            margin-bottom: -20px;
        }
        .card-mitra{
            height:12rem;
        }
        .no{
            display: none !important;
        }
    }
}

.produk-area{
    .jud{
        color: #000F48
    }
    .latest_product_inner{
        .card-body{
            background-color: #FFC806;
            h4{
                color: #000F48
                
            }
            p{
                font-size: 1vw;
            }
        }
    }
}